// ==== Variables ====
// ---- Cores ----
$body_background : hsl(233, 47%, 7%);
$card_background : hsl(244, 38%, 16%);
$destaque : hsl(277, 64%, 61%);
$heading : hsl(0, 0%, 100%);
$paragraph : hsla(0, 0%, 100%, 0.6);
// ---- Tipografia ----
$heading-font : 'Inter', sans-serif;
$paragraph-font : 'Lexend Deca', sans-serif;
// ---- Espaçamento ----
$default : 20px;
// === Reset ===
*{
  text-align: center;
  border: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: none;
}
// === Body ===
body{
  background: $body_background;
}
// === Tipografia ===
.texto-conteiner__titulo, .quant__valor{
  color: $heading;
  font-family: $heading-font;
}
.texto-conteiner__paragrafo, .quant__item{
  color: $paragraph;
  font-family: $paragraph-font
}
// === Espaçamento / Tamanho ===
main, .texto-conteiner, .texto-conteiner__titulo, .texto-conteiner__paragrafo{
  margin: auto;
  width: 90%;
}
main{
  margin-top: $default;
}
.img-header{
  margin-bottom: $default * 2;
}
.texto-conteiner, .texto-conteiner__titulo, .quant__itens{
  margin-bottom: $default;
}
.quant__valor{
  margin-bottom: $default / 2;
}
// === Display ===
@mixin displayFlex{
  display: flex;
  justify-content: space-between;
}
// === Main ===
main{
  border-radius: 10px;
  height: 800px;
  background: $card_background;
}

// === Background Img Header ===
.img-header{
  border-radius: 10px 10px 0 0;
  height: 250px;
  background: url("../images/image-header-mobile.jpg") no-repeat;
  background-size: 100% 250px;
}
// === Img Header ===
.bg__img-header{
  background: hsla(277, 64%, 61%, 0.1);
  width: 100%;
  height: 350px;
  margin-bottom: 40px;
}

// === Section Texto ===
.texto-conteiner{
  height: 250px;
  max-width: 300px;
  // === Section Texto Titulo ===
  .texto-conteiner__titulo{
    font-size: 28px;
    .texto-conteiner__titulo--destaque{
      color: $destaque;
    }
  }
  // === Section Texto Paragrafo ===
  .texto-conteiner__paragrafo{
    font-size: 1em;
    line-height: 1.5em;
  }
}

// === Section Quant ===
.quant__item{
  text-transform: uppercase;
}

// === Media Query ===
@media (min-width: 500px){
  .img-header{
    // background: red;
    height: 350px;
    background-size: 100% 350px;
  }
}

// ==== Media Query ====
@media (min-width: 700px){
  // === Reset ===
  *{
    text-align: left;
  }
  // === Espaçamento / Tamanho ===
  main, .img-header{
    height: 360px;
  }
  .texto-conteiner, .quant-conteiner{
    margin: ($default * 2) 0 0 ($default * 2);
    max-width: 75%;
  }
  // === display ===
  main, .quant-conteiner{
    @include displayFlex;
  }
  // === Main ===
  main{
    flex-direction: row-reverse;
    margin-top: $default * 4;
    width: 95%;
  }
  // === Img Header===
  .img-header{
    border-radius: 0 10px 10px 0;
    width: 100%;
    background-size: 100% 360px;
  }

  // === Section Texto ===
  .texto-conteiner{
    height: 180px;
    .texto-conteiner__titulo, .texto-conteiner__paragrafo{
      width: 100%;
    }
    .texto-conteiner__paragrafo{
      margin-top: $default;
    }
  }
}

@media (min-width: 900px){
  // === Main===
  main{
    width: 80%;
  }
}
// === Media Query ===
@media (min-width: 1000px){
  // === Main ===
  main{
    width: 70%;
  }
  // === Img Header ===
   .img-header{
     background: url("../images/image-header-desktop.jpg") no-repeat;
  }

  // === Section Texto ===
  .texto-conteiner{
    height: 160px;
  }
}
